Microsoft, a technology giant, aims to venture into the world of original video content creation by establishing a new movie studio. However, lacking experience in the movie industry, Microsoft faces the challenge of identifying the most successful film genres in the current market. The objective is to provide actionable insights to guide Microsoft's new movie studio in determining the types of films to produce. 
objectives:
1.Data Import and Understanding all the data provided
2.Data Exploration
3.Data Integration
4.
5

In [4]:
import pandas as pd
import sqlite3
import zipfile
import gzip
# Connect to the SQLite database
conn = sqlite3.connect('im.db')

In [14]:
file_path = "rt.movie_info.tsv"
df = pd.read_csv(file_path, delimiter='\t', encoding='utf-8')

In [15]:
file_path = "tmdb.movies.csv"

# Read the CSV file into a DataFrame
df1 = pd.read_csv(file_path, encoding='utf-8')

In [16]:
# Load data from the movie_basics table in the SQLite database
movie_basics_query = "SELECT * FROM movie_basics"
movie_basics_df = pd.read_sql_query(movie_basics_query, conn)

In [17]:
#Load data from the movie_ratings table in the SQLite database
movie_ratings_query = "SELECT * FROM movie_ratings"
movie_ratings_df = pd.read_sql_query(movie_ratings_query, conn)

In [18]:
#Unzip the SQLite database
with zipfile.ZipFile('im.db.zip', 'r') as zip_ref:
    zip_ref.extractall()

In [19]:
#Load data from the CSV file (box office gross data)
with gzip.open('bom.movie_gross.csv.gz', 'rb') as file:
    box_office_df = pd.read_csv(file)

 we want to now Explore and understand the loaded dataframes from the data provided by using functions and methods  .head(), .info(), .describe()

In [11]:
print("Sample records from movie_basics:")
print(movie_basics_df.head())

Sample records from movie_basics:
    movie_id                    primary_title              original_title  \
0  tt0063540                        Sunghursh                   Sunghursh
1  tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
2  tt0069049       The Other Side of the Wind  The Other Side of the Wind
3  tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
4  tt0100275         The Wandering Soap Opera       La Telenovela Errante

   start_year  runtime_minutes                genres
0        2013            175.0    Action,Crime,Drama
1        2019            114.0       Biography,Drama
2        2018            122.0                 Drama
3        2018              NaN          Comedy,Drama
4        2017             80.0  Comedy,Drama,Fantasy

In [12]:
print("Sample records from movie_basics:")
print(movie_basics_df.info())

Sample records from movie_basics:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB
None

In [13]:
print("Sample records from movie_basics:")
print(movie_basics_df.describe())

Sample records from movie_basics:
          start_year  runtime_minutes
count  146144.000000    114405.000000
mean     2014.621798        86.187247
std         2.733583       166.360590
min      2010.000000         1.000000
25%      2012.000000        70.000000
50%      2015.000000        87.000000
75%      2017.000000        99.000000
max      2115.000000     51420.000000

we want to now Explore and understand the loaded dataframes from movie_ratings provided by using functions and methods .head(), .info(), .describe()

In [21]:
print(movie_ratings_df.head())

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [23]:
print(movie_ratings_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB
None

In [24]:
print(movie_ratings_df.describe())

       averagerating      numvotes
count   73856.000000  7.385600e+04
mean        6.332729  3.523662e+03
std         1.474978  3.029402e+04
min         1.000000  5.000000e+00
25%         5.500000  1.400000e+01
50%         6.500000  4.900000e+01
75%         7.400000  2.820000e+02
max        10.000000  1.841066e+06

we want to now Explore and understand the loaded dataframes from box_office provided by using functions and methods .head(), .info(), .describe()

In [25]:
print("\nSample records from box_office_df:")
print(box_office_df.head())

Sample records from box_office_df:
                                         title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010

In [26]:
print(box_office_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
None

In [27]:
print(box_office_df.describe())

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [29]:
box_office_df['year'] = box_office_df['year'].astype(int)

In [32]:
print(box_office_df.describe())

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000